<div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
  <div class="card-header">
    <div class="form-control">
        <button class="btn bg-red-600 uppercase font-bold">Je fais un Don
        </button>
    </div>
  </div>
    <div class="card-body text-white">
        <div class="form-control">
          <div class="">
              <label class="label flex uppercase">
                <span class="p-2 border rounded-full bg-blue-400 hover:bg-red-500 text-white">Mensuel</span>
                <span class="p-2 border rounded-full bg-blue-200 hover:bg-red-500 text-white">Ponctuel</span>
              </label>
          </div>
          <div class="">
            <label class="label flex  justify-between uppercase">
              <span class="p-2 border btn">30€</span>

              <span class="p-2 border btn ">50€</span>

              <span class="p-2 border btn btn-primary ">130€</span>
            </label>
          </div>
            <input type="text" placeholder="Autres montant ..." class="input input-bordered"/>
            <label class="label">
                <span class="label-text">Les dons servont à financer les projets menés par Action<sup class="">+</sup></span>
            </label>
            
        </div>
        
        <div class="form-control mt-6">
          <button class="btn bg-red-600">Je Donne > </button>
        </div>
    </div>
</div>
