
<% @title="Accueil" %>
<!-- Header -->
<%= render "welcome/shared/header" %>
<!-- Hero -->
<%= render "welcome/shared/hero" %>
<%#= render "welcome/shared/projets/dons" %>

<main>
    <!-- about -->
    <%#= render "welcome/shared/founder" %>
    <!-- why-us -->
    <%#= render "welcome/shared/why-us" %>
    <!--menu  -->
    <%#= render "welcome/shared/menu" %>
    <!-- special -->
    <%#= render "welcome/shared/terrain" %>
    <div class="my-4 bg-blue-500 h-4"></div>
    <!-- events -->
    <%#= render "welcome/shared/projets" %>
    
    
    <!--booking  -->
    <%#= render "welcome/shared/booking" %>
    <!--testimonials  -->
    <%#= render "welcome/shared/testimonials" %>
    <!-- galery -->
    <%#= render "welcome/shared/articles" %>
    <!-- chiefs -->
    <%#= render "welcome/shared/benevols" %>
    <!-- contact -->
    <%#= render "welcome/shared/contact" %>
</main>
<!-- footer -->
<%= render "welcome/shared/footer" %>

