<!-- ======= About Section ======= -->
    <section id="about" class=" bg-gray-100">
      <div class="container -py-4" >

        <div class="row">
          
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h2 class="section-title text-center font-bold text-4xl px-3">Mot du fondateur</h2>
                
            </div>
            <div class=" about col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <%= image_tag 'media/fondateur.jpg', alt:"President du conseil d'administration Action+" %>
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content ">
            <h3 class="font-bold  text-3xl md:text-4xl">Lorem ipsum dolor commodi cupiditate repellat earum vel voluptates natus ipsa!</h3>
            
            <div class="mt-4">
              <div class="">
                  <p class="">Ullamco laboris nisi ut aliquip ex ea commodo consequat.   Duis aute irure dolor in reprehenderit in voluptate velit.   ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</p>
                  <p class="">Ullamco laboris nisi ut aliquip ex ea commodo consequat.   Duis aute irure dolor in reprehenderit in voluptate velit.   ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</p>
                  <p class="">Ullamco laboris nisi ut aliquip ex ea commodo consequat.   Duis aute irure dolor in reprehenderit in voluptate velit.   ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</p>
              </div>
              <div class="my-4">
                
          <p class="lead mb-0">
          <a href="mot-fondateur" class="text-black fw-bold p-2 bg-blue-500 rounded-r-md ">Continue la lecture ...</a>

          </p>

              <%#= link_to "Lire en complet", "/mot-fondateur", class:"p-3 bg-blue-500 font-bold text-white rounded-md" %>
              </div>
            </div>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->