<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center mt-20">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8 ">
          <h1 class=""><span class="bg-blue-400 p-2  rounded-b-xl rounded-tr-xl">Apportons le bien-etre</span> </h1>
          
          <h2 class="py-2">La crise de l'eau, l'éducation et l'élèctricité sont massives. <br> Ensemble, nous pouvons les résoudres.</h2>
            <h2 class="font-bold">Soutenez Action<sup>+</sup></h2>          
        </div> 

        <%= render "welcome/shared/dons/form" %> 
      </div>
    </div>
  </section><!-- End Hero -->